// Colors
$background-color: #f6f8fe;
$text-dark:#35374C;
$text-white:#E5EBFC;
$primary-blue:#5581EA;
$secondary-blue:#688FEC;
$dark-blue:#1717E4;
$white:#ffffff;
$danger:#F17383;


//Container width
$container-max-width:1380px;
$container-padings:20px;
$content-max-width:calc($container-max-width - $container-padings*2);

//Font
$main-fz:18px
